@media (min-width: 1200px) {
  .container {
    margin-left: 98px;
  }
}

header h1, h4{
	margin: 20px 0 20px 0;
	text-align: center;
	vertical-align: center;
}

.jumbotron, 
.post-content, 
.friends>li,
#search-results,
#requests-details {
	border: solid 1px #DF691A;
}

#userHeader{
	background-image: url("../img/newsBigImg.png");
	background-repeat: no-repeat;
    background-position: right top;
}

.iconButtons{
	padding: 0;
	width: 35px;
	height: 40px;
	margin-right: 4px;
}

#people{
	background-image: url("../img/people.png");
	background-repeat: no-repeat;
	background-position: left 5px;
}

#people:hover{
	background-image: url("../img/peopleHover.png");
	background-repeat: no-repeat;
	background-position: left 5px;
}

#settings{
	background-image: url("../img/settings.png");
	background-repeat: no-repeat;
	background-position: left 5px;
}

#settings:hover{
	background-image: url("../img/settingsHover.png");
	background-repeat: no-repeat;
	background-position: left 5px;
}

#key{
	background-image: url("../img/key.png");
	background-repeat: no-repeat;
	background-position: left 5px;
}

#key:hover{
	background-image: url("../img/keyHover.png");
	background-repeat: no-repeat;
	background-position: left 5px;
}

.news, 
.friends, 
#search-results ul,
#requests-details ul{
	  list-style-type: none;
	  padding: 0;
}

.news img, 
#search-results img,
#requests-details img,
.post-box img{
	width: 40px;
	height: 40px;
}

.news .author-data{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.author-data a{
	color: white;
}

.post-content{
	margin: 10px 0 10px 0;
	padding: 5px;
}

.post-buttons{
	text-align: right;
}

.likes, .coments {
	display: inline-block;
	text-align: right;
	margin-left: 10px;
}

#like{
	background-image: url("../img/likeIt.png");
	background-repeat: no-repeat;
	display: inline-block;
	width: 45px;
	height: 20px;
	margin-left: 3px;
}

#unlike{
	background-image: url("../img/unlikeIt.png");
	background-repeat: no-repeat;
	display: inline-block;
	width: 60px;
	margin-left: 3px;
}

.friends{
	margin: 0;
}

.friends>h3{
	margin: 0;
}

.friends>li{
	margin-top: 10px;
}

.friends img{
	margin-right: 10px;
	width: 55px;
	height: 55px;
}

.friends a{
	color: white;
}

.userImgSmall{
	width: 40px;
	height: 40px;
	float: left;
}

#userTtileName{
	margin-left: 1px;
}

#userTtileName:hover,
#userTtileName:focus{
	background-color: #485563;
}

#userTitle{
	padding: 0;
	margin-left: 10px;
}

.image-box, .image-box-big{
    background-color: transparent;
    border: 1px solid #DF691A;
    margin-top: 10px;
    text-align: center;
}

.image-box{
    width: 150px;
    height: 150px;	
}

.image-box-big{
    width: 425px;
    height: 55px;	
}

.image-box>img, .image-box-big>img{
	width: 100%;
	height: 100%;
}

#search-results,
#requests-details{
	display:none; 
	position: absolute; 
	z-index: 20;
	background-color: white;
	color: #485563;
	width: 185px;
	padding-left: 15px;
	padding-right: 15px;
}

#search-results li,
#requests-details li{
	padding-bottom: 3px;
	padding-top: 3px;
	border-bottom: 1px solid #DF691A;
}

#requests-details li{
	text-align: center;
}

#requests-details div{
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
}

#search-results p,
#requests-details p{
	text-decoration: underline;
	font-style: italic;
}

#search-results a{
	color: #485563;
}

#wall-img{
	padding: 0;
	width: 100%;
	height: 10%;
}

#wall-img img{
	width: 100%;
	height: 150px;
}

.userImgBig{
	width: 120px;
	height: 120px;
	margin-left: 10%;
	margin-top: -100px;
	margin-right: 15px;
	display: inline-block;
}

#user-data p, #user-data div{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

#post-box-buttons img, 
#post-box-buttons p,
#post-box-buttons button {
	display: inline-block;
}

#post-box-buttons{
	padding-top: 8px;
}

#post-box-buttons button{
	float: right;
}

.popup-box {
	position: absolute;
	left: 50px;
	width: 250px;
	background-color: white;
	color: #485563;
	font-weight: bold;
	padding: 8px;
}

.popup-box img{
	width: 60px;
	height: 60px;
	border: 1px solid #485563;
}

.popup-box img,
.popup-box p,
.popup-box button{
	display: inline-block;
}

#request-note{
	position: absolute;
	left: 40%;
	top: 60%;
	z-index: 20;
	background-color: #DF691A;
}
 table, tr{
 	width: 100%;
 	border: 1px solid #DF691A;
 	font-size: 18px;
 }


 table img{
 	width: 60px;
 	height: 60px;
 }

 table a:hover{
 	text-decoration: none;
 }

