<div class="container" ng-if="loggedUser">
	<header ng-include="'templates/user/userHeader.html'"></header>
	
	<div class="jumbotron">
	    <h1>Change Password</h1>
	</div>

	<div class="row">
		<div class="col-lg-6">
			<div class="well bs-component">
				<form class="form-horizontal">
					<div class="form-group">
				      	<label for="oldPassword" class="col-lg-2 control-label">Old password</label>
				      	<div class="col-lg-10">
				        	<input ng-model="userData.oldPassword" class="form-control" id="oldPassword" placeholder="Old password" type="password" required />
				      	</div>
				    </div>
				    <div class="form-group">
				      	<label for="newPassword" class="col-lg-2 control-label">New password</label>
				      	<div class="col-lg-10">
				        	<input ng-model="userData.newPassword" class="form-control" id="newPassword" placeholder="New password" type="password" required />
				      	</div>
				    </div>
				    <div class="form-group">
				      	<label for="confirmPassword" class="col-lg-2 control-label">Confirm password</label>
				      	<div class="col-lg-10">
				        	<input ng-model="userData.confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password" type="password" required />
				      	</div>
				    </div>

					<div class="form-group">
				      	<div class="col-lg-10 col-lg-offset-2">
				        	<button ng-click="changePassword(userData)" class="btn btn-primary">Save Changes</button>
				      	</div>
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>

