<ul class="news">
	<li ng-repeat="post in news">
		<div class="well bs-component">
			<div ng-mouseover="hoverEdit = true" ng-mouseleave="hoverEdit = false" class="post-author-data">
				<img ng-src="img/userImg.png" alt="Friend photo" ng-if="!post.author.profileImageData">
				<img ng-src="{{post.author.profileImageData}}" alt="Friend photo" ng-if="post.author.profileImageData">
				<div class="author-data"><a href="#/users/{{post.author.username}}"><strong>{{post.author.name}}</strong></a><br>
					{{post.date | date:'dd MMM yyyy HH:mm:ss'}}</div>
				<div ng-show="hoverEdit" class="popup-box">
					<img ng-src="img/userImg.png" alt="Friend photo" ng-if="!post.author.profileImageData">
					<img ng-src="{{post.author.profileImageData}}" alt="Friend photo" ng-if="post.author.profileImageData">
					<p>{{post.author.name}}</p>
					<p ng-if="post.author.isFriend"> - Friend</p>
					<button ng-if="(!post.author.isFriend && post.author.username != currentUser.username)" class="btn btn-primary btn-sm" ng-click="sendFriendRequest(post.author.username)">Invite</button>
				</div>
			</div>
			<div class="post-content" >{{post.postContent}}</div>
			<div class="post-buttons">
				<div class="likes" ng-if="(post.author.isFriend || post.author.username == currentUser.username)">
					<strong>{{post.likesCount}}</strong>
					<a href="#/users/{{user.username}}" ng-click="likePost(post.id)" id="like">Like</button>
					<a href="#/users/{{user.username}}" ng-click="unlikePost(post.id)" id="unlike">Unlike</a>
				</div>
				<div class="coments" ng-if="(post.author.username == currentUser.username || post.author.isFriend)">
					<strong>{{post.totalCommentsCount}}</strong>
					<a href="#/users/{{user.username}}" ng-click="getPostComent(post.id)">Coments</a>
				</div>
				<div class="edit-post" ng-if="(post.author.username == currentUser.username || currentUser.username == user.username)">
					<a href="#/posts/{{post.id}}" class="btn btn-primary btn-xs">Edit post</a>
					<button ng-click="deletePost(post.id)" class="btn btn-primary btn-xs">Delete post</button>
				</div>
			</div>
			
		</div>
	</li>
</ul>

<div id="coments-box">
	<ul ng-repeat="coment in coments" ng-if="coments.length != 0">
		<li>
			<img ng-src="img/userImg.png" alt="Friend photo" ng-if="!coment.author.profileImageData">
			<img ng-src="{{coment.author.profileImageData}}" alt="Friend photo" ng-if="coment.author.profileImageData">
			<div>
				<p><strong><a href="#/users/{{coment.author.username}}">{{coment.author.name}}</a> - {{coment.date | date:'dd MMM yyyy HH:mm:ss'}}</strong></p>
				<p>{{coment.commentContent}}</p>
			</div>
		</li>
	</ul>
	<input type="text" ng-model="commentData.commentContent">
	<button class="btn btn-primary btn-xs" ng-click="addComment(commentData)">Add coment</button>
	<button class="btn btn-primary btn-xs" ng-click="closePostComents()">Close</button>
</div>

