<!-- Load user home page for anonymous user -->
<div class="container" ng-if="anonymousUser">
	<header ng-include="'templates/partials/header.html'"></header>
	<div class="row">
		<!-- Login form -->
		<div ng-include="'templates/partials/login.html'"></div>

		<!-- Register form -->
		<div ng-include="'templates/partials/register.html'"></div>
	</div>
	<footer ng-include="'templates/partials/footer.html'"></footer>
</div>

<!-- Load user home page for logged user -->
<div class="container" ng-if="loggedUser">
	<header ng-include="'templates/user/userHeader.html'"></header>

	<div class="jumbotron">
	    <h1 id="userHeader">News Feed</h1>
	</div>
	<div class="row">
		<div class="col-lg-8" ng-controller="NewsController">
			<div ng-include="'templates/user/newsFeedCurrentUser.html'"></div>
		</div>
		<div class="col-lg-4">
			<div class="well bs-component" ng-controller="FriendsPreviewController">
				<div ng-include="'templates/user/sidebarFriends.html'" ></div>
			</div>
		</div>	
	</div>
	
	<footer ng-include="'templates/partials/footer.html'" ></footer>
</div>





