<h1>Welcome to Social Network</h1>

<div class="login">		
	<label for="username">Username</label>	
	<input type="text" id="username">
	<label for="passowrd">Password</label>
	<input type="password" id="password">
	<button>Login</button>
</div>

<div class="register">		
	<label for="username">Username</label>	
	<input type="text" id="username">
	<label for="passowrd">Password</label>
	<input type="password" id="password">
	<label for="confirm-passowrd">Confirm password</label>
	<input type="password" id="confirm-password">
	<label for="name">Name</label>
	<input type="text" id="name">
	<label for="email">Email</label>
	<input type="email" id="email">
	<button>Register</button>
</div>